<header class="header">
  <div class="container-fluid">
    <div class="row flexible">
      <div class="col">LOGO</div>
      <div class="col">1ermenu</div>
    </div>
  </div>


</header>

<div class="test-card">
<h4>test card bootstrap</h4>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>


<div class="firstSection">
  <!-- <p>Selfie</p> -->

  <section>
    <article class="container">
      <div class="cardU mtc">
        <div class="row flexible">
          <div class="col">

            <h3>° Fraise qui goutte </h3>
          </div>

          <div class="col">
            [...]
          </div>
        </div>

        <div class="row flexible">
          <div class="col">
            <img src="../assets/img/03-fraise-water-summer.gif" alt="fraise qui goutte">
          </div>
        </div>



      </div>
    </article>



    <article>


      <div class="cardU mbc">
        <div>
          <h3>Titre de la pic2</h3>
        </div>

        <div>
          [...]
        </div>
        <img src="../assets/img/02-cocktail-cucumber-rose-soda.gif" alt="cocktail-cucumber-rose-soda">
      </div>


    </article>


  </section>

</div>







<footer>
  <div>
    <p>footer</p>
  </div>
</footer>